extends layouts/_layout.pug

block variables
	- var activePage = 'form-samples'
	- var activeGroup = 'forms'

block title
	title Carson Kitchen

block content
	.app-title
		div
			h1
				i.fa.fa-edit
				|  add category

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| category
			li.breadcrumb-item
				a(href="#") add 
		

	.row
		.col-md-6
			.tile
				h3.tile-title add category
				.tile-body
					form(action="/category/", method="post", enctype="multipart/form-data")
						.form-group
							label.control-label Title
							input.form-control(type="text", name="title")
						.form-group
							label.control-label Description
							input.form-control(type="text", name="desc")
						.form-group
							label.control-label Upload Image
							input.form-control(type="file", accept="image/*", name="img_url", )

						button.btn.btn-outline-success.mx-2(type='submit') Add
						a.btn.btn-outline-warning.mx-2(href='/category/') Back
	
