extends layouts/_layout.pug

block variables
	- var activePage = 'data-table'
	- var activeGroup = 'tables'

block title
	title CarsonKitchen

block content
	.app-title
		div
			h1
				i.fa.fa-th-list
				|  review
			p Table to display categories of food

		ul.app-breadcrumb.breadcrumb.side
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| Review
			li.breadcrumb-item.active
				a(href="#") Review Table

	.row
		.col-md-12
			.tile
				.tile-body
					table.table.table-hover.table-bordered#sampleTable
						thead
							tr
								th Heading
								th Message
								th Img
								th Edit
						tbody
							each x in review
								tr
									td
										h5.text-muted #{x.head}
									td #{x.message}
									td 
										img.w-auto(src=x.img, alt = x.img, style="height: 50px")
									td  
										a.btn.btn-outline-warning(href="/review/"+x._id) EDIT
							

block specific-js
	// Data table plugin
	script(type='text/javascript', src="js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').
		$('#sampleTable').DataTable();
